<h1>로그인</h1>
<p>email과 password를 입력해주세요</p>
<form action="/user/login_process">
    이메일:<input type="email" name="email"><br/>
    비밀번호:<input type="password" name="password"><br/>
    <input type="submit" vlaue="로그인"><br/>
</form>