<h1>회원가입</h1>
<p>개인정보를 입력해주세요</p>
<form action="/user/create">
    이메일:<input type="email" name="email"><br/>
    비밀번호:<input type="password" name="password"><br/>
    <input type="submit" vlaue="회원가입"><br/>
    
    
</form>
